<app-nav></app-nav>

<app-dashbord-menu></app-dashbord-menu>

<div class="container-fluid elhoo_body_text_Contacts_divContent">

  <div class="row row-cols-5 mb-5">
    <div class="col">
      <app-contacts-title title="Créer Fournisseur" subtitle="Vous avez déjà 120 fournisseurs"></app-contacts-title>
    </div>

    <div class="offset-7 col">
      <app-contacts-toolbar [isClients]="false"></app-contacts-toolbar>
    </div>
  </div>

  <!-------------------------------Début du formulaire-------------------------------->
  <form [formGroup]="fournisseurForm" (ngSubmit)="onSubmitForm()">
    <div class="row row-cols-3">
      <div class="col-4">

        <!-------------------------------Section Catégorie-------------------------------->

        <div class="row elhoo_contacts_choisir_categorie p-1 ml-2 mr-2 mb-3">
            <form class="w-100 d-inline">

                <mat-form-field class="d-inline" appearance="none" class="w-100">
                    <mat-label class="elhoo_compte_labelInputPosition bg-transparent" id="elhoo_contacts_idField_tauxTVA "
                                style="color: white; font-size: 1.25em;">

                                CHOISIR UNE CATEGORIE
                    </mat-label>
                    <mat-select class="border border-0" style="font-size: 12px; padding-left: 12px;  max-width:96%;" name="tva" [formControl]="categorieFormControl">
                        <mat-option *ngFor="let categorie of categories" [value]="categorie.value">
                            {{categorie.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-icon matPrefix><img class="d-inline pl-2" src="../../../../assets/Combined shape 5159.svg"/></mat-icon>
                </mat-form-field>
            </form>
        </div>

        <!-------------------------------Section Client-------------------------------->

        <div class="row">
          <div class="col">
            <div class="row elhoo_contacts_section_title p-2 ml-2 mr-2  input-group1 w-auto"> <h1>CLIENT</h1> </div>

            <div class="row input-group  input-group1 ml-2 mr-2 w-auto">
              <form class="w-100">
                  <label class="mb-2" for="elhoo_contacts_idField_reference">Référence</label>
                  <mat-form-field appearance="none" class="w-100">
                      <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_reference_idField">Référence</mat-label>
                      <input [formControl]="referenceFormControl" autocomplete="off" matInput placeholder="Référence" style="font-size: 12px; padding-left: 12px;"  [(ngModel)]="fournisseurModif.REFERENCE">
                  </mat-form-field>
              </form>
            </div>

            <div class="row input-group  input-group1 ml-2 mr-2 w-auto">
              <form class="w-100">
                  <label class="mb-2" for="elhoo_contacts_idField_nom">Nom *</label>
                  <mat-form-field appearance="none" class="w-100">
                      <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_">Nom *</mat-label>
                      <input autocomplete="off" matInput placeholder="Nom *" [formControl]="nomFormControl" [errorStateMatcher]="matcher" style="font-size: 12px; padding-left: 12px;"  [(ngModel)]="fournisseurModif.NOM">

                      <mat-error *ngIf="nomFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                          Nom is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
              </form>
            </div>

            <div class="row input-group  input-group1 ml-2 mr-2 w-auto">
              <form class="w-100">
                  <label class="mb-2" for="elhoo_contacts_idField_email">Email *</label>
                  <mat-form-field appearance="none" class="w-100">
                      <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_idField_email">Email *</mat-label>
                      <input autocomplete="off" matInput placeholder="Email *" [formControl]="emailFormControl" [errorStateMatcher]="matcher" style="font-size: 12px; padding-left: 12px;" [(ngModel)]="fournisseurModif.email">

                      <mat-error *ngIf="emailFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                          Email is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
              </form>
            </div>
          </div>
        </div>

        <!-------------------------------Section Commentaire-------------------------------->

        <div class="row mt-4">
          <div class="col">
            <div class="row elhoo_contacts_section_title p-2 ml-2 mr-2 input-group1"> <h1>COMMENTAIRES</h1> </div>

            <div class="row input-group  input-group1 ml-2 mr-2 w-auto">
              <form class="w-100">
                  <label class="mb-2" for="elhoo_contacts_idField_commentaire">Commentaire *</label>
                  <mat-form-field appearance="none" class="w-100">
                      <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_idField_commentaire">Commentaire *</mat-label>
                      <textarea class="mb-0 elhoo_contacts_addFournisseur_textareaComment" matInput placeholder="Commentaire *" [formControl]="commentaireFormControl" [errorStateMatcher]="matcher" style="font-size: 12px; padding-left: 12px;" [(ngModel)]="fournisseurModif.commentaire">
                      </textarea>
                      <mat-error *ngIf="commentaireFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                          Commentaire is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
              </form>
            </div>
          </div>
        </div>

      </div>

      <div class="col-8">
        <div class="row row-cols-2">

          <!-------------------------------Section Adresse-------------------------------->

          <div class="col" arial-label="elhoo contacts ajouter client section Adresse">
            <div class="row elhoo_contacts_section_title p-2 ml-2 mr-2 input-group1"> <h1>ADRESSE</h1> </div>

            <div class="row input-group  input-group1 ml-2 mr-2 w-auto">
              <form class="w-100">
                  <label class="mb-2" for="elhoo_contacts_idField_adresse">Adresse *</label>
                  <mat-form-field appearance="none" class="w-100">
                      <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_idField_adresse">Adresse *</mat-label>
                      <input autocomplete="off" matInput placeholder="Adresse *" [formControl]="adresseFormControl" [errorStateMatcher]="matcher" style="font-size: 12px; padding-left: 12px;" [(ngModel)]="fournisseurModif.adresse">

                      <mat-error *ngIf="adresseFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                          Adresse is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
              </form>
            </div>

            <div class="row input-group  input-group1 ml-2 mr-2 w-auto">
              <form class="w-100">
                  <label class="mb-2" for="elhoo_contacts_idField_adresseLigne2">Adresse ligne 2</label>
                  <mat-form-field appearance="none" class="w-100">
                      <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_idField_adresseLigne2">Adresse ligne 2</mat-label>
                      <input [formControl]="adresseLigne2FormControl" autocomplete="off" matInput placeholder="Nom ligne 2" style="font-size: 12px; padding-left: 12px;" [(ngModel)]="fournisseurModif.adresseLigne2">
                  </mat-form-field>
              </form>
            </div>

            <div class="row d-flex justify-content-between ml-2 mr-2">
              <div class="col input-group  input-group1 pl-0 pr-1 w-auto">
                <form class="w-100">
                    <label class="mb-2" for="elhoo_contacts_idField_codePostal">Code Postal *</label>
                    <mat-form-field appearance="none" class="w-100">
                        <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_idField_codePostal">Code Postal *</mat-label>
                        <input autocomplete="off" matInput placeholder="Code Postal *" [formControl]="codePostalFormControl" [errorStateMatcher]="matcher" style="font-size: 12px; padding-left: 12px;" [(ngModel)]="fournisseurModif.CP">

                        <mat-error *ngIf="codePostalFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                            Code Postal is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </form>
              </div>

              <div class="col input-group input-group1 pl-1 pr-0 w-auto">
                  <form class="w-100">
                      <label class="mb-2" for="elhoo_contacts_idField_ville">Ville *</label>
                      <mat-form-field appearance="none" class="w-100">
                          <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_idField_ville">Ville *</mat-label>
                          <mat-select style="font-size: 12px; padding-left: 12px;  max-width:96%;" name="ville" [formControl]="villeFormControl" [errorStateMatcher]="matcher">

                              <mat-option *ngFor="let ville of villes" [value]="ville.value">
                                  {{ville.viewValue}}
                              </mat-option>

                          </mat-select>
                          <mat-error *ngIf="villeFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                              Ville is <strong>required</strong>
                          </mat-error>
                      </mat-form-field>
                  </form>
              </div>

            </div>

            <div class="row input-group  input-group1 ml-2 mr-2 w-auto">
              <form class="w-100">
                  <label class="mb-2" for="elhoo_contacts_idField_pays">Pays *</label>
                  <mat-form-field appearance="none" class="w-100">
                      <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_idField_pays">Pays *</mat-label>
                      <input autocomplete="off" matInput placeholder="Pays *" [formControl]="paysFormControl" [errorStateMatcher]="matcher" style="font-size: 12px; padding-left: 12px;" [(ngModel)]="fournisseurModif.pays">

                      <mat-error *ngIf="paysFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                          Pays is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
              </form>
            </div>

            <div class="row input-group  input-group1 ml-2 mr-2 w-auto">
              <form class="w-100">
                  <label class="mb-2" for="elhoo_contacts_idField_adresseLigne2">Numéro de TVA</label>
                  <mat-form-field appearance="none" class="w-100">
                      <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_idField_adresseLigne2">Numéro de TVA</mat-label>
                      <input [formControl]="numeroTVAFormControl" autocomplete="off" matInput placeholder="Numéro de TVA" style="font-size: 12px; padding-left: 12px;" [(ngModel)]="fournisseurModif.TVA">
                  </mat-form-field>
              </form>
            </div>

          </div>

          <div class="col">

            <!-------------------------------Coordonnées bancaires-------------------------------->

            <div class="row d-flex justify-content-around">
              <div class="col">
                <div class="row elhoo_contacts_section_title p-2 ml-2 mr-2 input-group1"> <h1>COORDONNEES BANCAIRES</h1> </div>

                <div class="row input-group  input-group1 ml-2 mr-2 w-auto">
                  <form class="w-100">
                      <label class="mb-2" for="elhoo_contacts_idField_referenceClient">IBAN</label>
                      <mat-form-field appearance="none" class="w-100">
                          <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_idField_referenceClient">IBAN</mat-label>
                          <input [formControl]="IBANFormControl" autocomplete="off" matInput placeholder="IBAN" style="font-size: 12px; padding-left: 12px;" [(ngModel)]="fournisseurModif.IBAN">
                      </mat-form-field>
                  </form>
                </div>

                <div class="row input-group  input-group1 ml-2 mr-2 w-auto">
                  <form class="w-100">
                      <label class="mb-2" for="elhoo_contacts_idField_numeroClient">BIC</label>
                      <mat-form-field appearance="none" class="w-100">
                          <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_idField_numeroClient">BIC</mat-label>
                          <input [formControl]="BICFormControl" autocomplete="off" matInput placeholder="BIC" style="font-size: 12px; padding-left: 12px;" [(ngModel)]="fournisseurModif.BIC">
                      </mat-form-field>
                  </form>
                </div>
              </div>
            </div>

            <!-------------------------------Section Export en comptabilité-------------------------------->

            <div class="row">
              <div class="col">
                <div class="row elhoo_contacts_section_title p-2 mt-4 ml-2 mr-2 input-group1"> <h1>EXPORT EN COMPTABILITE</h1> </div>

                <div class="row input-group  input-group1 ml-2 mr-2 w-auto">
                  <form class="w-100">
                      <label class="mb-2" for="elhoo_contacts_idField_referenceClient">Référence comptable</label>
                      <mat-form-field appearance="none" class="w-100">
                          <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_idField_referenceClient">Référence comptable</mat-label>
                          <input [formControl]="referenceComptableFormControl" autocomplete="off" matInput placeholder="Référence comptable" style="font-size: 12px; padding-left: 12px;" [(ngModel)]="fournisseurModif.referenceComptable">
                      </mat-form-field>
                  </form>
                </div>

                <div class="row input-group  input-group1 ml-2 mr-2 w-auto">
                  <form class="w-100">
                      <label class="mb-2" for="elhoo_contacts_idField_numeroClient">Référence comptable (numérique)</label>
                      <mat-form-field appearance="none" class="w-100">
                          <mat-label class="elhoo_compte_labelInputPosition" id="elhoo_contacts_idField_numeroClient">Référence comptable (numérique)</mat-label>
                          <input [formControl]="referenceComptableNumeriqueFormControl" autocomplete="off" matInput placeholder="Référence comptable (numérique)" style="font-size: 12px; padding-left: 12px;" [(ngModel)]="fournisseurModif.referenceComptableNumerique">
                      </mat-form-field>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-------------------------------Section Personne de contact-------------------------------->

        <div class="row">
          <div class="col ml-4 mr-4">
            <div class="row elhoo_contacts_section_title p-2 "> <h1>PERSONNE DE CONTACT</h1> </div>

            <label class="" for="elhoo_personne_de_contacts_subtitle">PERSONNE DE CONTACT</label>
            <div class="row">
            <div class="col">
              <div class="row row-cols-6 elhoo_contacts_section_title pt-1 mb-2 d-flex justify-content-between">
                <h6 class="col">Civilité</h6>
                <h6 class="col">Nom Fonction</h6>
                <h6 class="col">Email</h6>
                <h6 class="col">téléphone</h6>
                <h6 class="col">téléphone (2)</h6>
                <h6 class="col-1"></h6>
              </div>

              <div *ngIf="personnesDeContact.length !== 0" class="">
                <div *ngFor="let personne of personnesDeContact; index as i" id="{{i}}" class="elhoo_personneDeContact row row-cols-6 d-flex justify-content-between mb-2">
                  <div class="col input-group pl-0 pr-0">
                    <form class="w-100" >
                        <mat-form-field appearance="none" class="w-100">
                            <mat-label class="elhoo_compte_labelInputPosition">Civilité</mat-label>
                            <input autocomplete="off" matInput placeholder="Civilité" value="{{personne.civilite}}" readonly="true" style="font-size: 12px; padding-left: 12px;">
                        </mat-form-field>
                    </form>
                  </div>

                  <div class="col input-group pl-0 pr-0">
                    <form class="w-100">
                        <mat-form-field appearance="none" class="w-100">
                            <mat-label class="elhoo_compte_labelInputPosition">Nom Fonction</mat-label>
                            <input value="{{personne.nomFonction}}" readonly="true" autocomplete="off" matInput placeholder="Nom Fonction" style="font-size: 12px; padding-left: 12px;">
                        </mat-form-field>
                    </form>
                  </div>

                  <div class="col input-group pl-0 pr-0">
                    <form class="w-100">
                        <mat-form-field appearance="none" class="w-100">
                            <mat-label class="elhoo_compte_labelInputPosition">Email</mat-label>
                            <input value="{{personne.email}}" readonly="true" autocomplete="off" matInput placeholder="Email" style="font-size: 12px; padding-left: 12px;">
                        </mat-form-field>
                    </form>
                  </div>

                  <div class="col input-group pl-0 pr-0">
                    <form class="w-100">
                        <mat-form-field appearance="none" class="w-100">
                            <mat-label class="elhoo_compte_labelInputPosition">Téléphone</mat-label>
                            <input value="{{personne.telephone}}" readonly="true" autocomplete="off" matInput placeholder="Téléphone" style="font-size: 12px; padding-left: 12px;">
                        </mat-form-field>
                    </form>
                  </div>

                  <div class="col input-group pl-0 pr-0">
                    <form class="w-100">
                        <mat-form-field appearance="none" class="w-100">
                            <mat-label class="elhoo_compte_labelInputPosition">Téléphone (2)</mat-label>
                            <input value="{{personne.telephone2}}" readonly="true" autocomplete="off" matInput placeholder="Téléphone (2)" style="font-size: 12px; padding-left: 12px;">
                        </mat-form-field>
                    </form>
                  </div>

                  <div class="col-1 pl-0 pr-0">
                    <button type="reset" class="border-0 rounded-lg h-100 elhoo_addClient_button w-100" (click)="onDeletePersonneDeContact(i)">
                      <img class="rounded-lg h-50 w-50" src="../../../../assets/Combined shape 4973.svg"/>
                    </button>
                  </div>
                </div>
              </div>

              <form [formGroup]="personContactForm" class="row row-cols-6 d-flex justify-content-between mb-2">
                <div class="col input-group pl-0 pr-0">
                  <form class="w-100" >
                      <mat-form-field appearance="none" class="w-100">
                          <mat-label class="elhoo_compte_labelInputPosition">Civilité</mat-label>
                          <input [formControl]="civiliteFormControl" autocomplete="off" matInput placeholder="Civilité" style="font-size: 12px; padding-left: 12px;">
                      </mat-form-field>
                  </form>
                </div>

                <div class="col input-group pl-0 pr-0">
                  <form class="w-100">
                      <mat-form-field appearance="none" class="w-100">
                          <mat-label class="elhoo_compte_labelInputPosition">Nom Fonction</mat-label>
                          <input [formControl]="nomFonctionFormControl" autocomplete="off" matInput placeholder="Nom Fonction" style="font-size: 12px; padding-left: 12px;">
                      </mat-form-field>
                  </form>
                </div>

                <div class="col input-group pl-0 pr-0">
                  <form class="w-100">
                      <mat-form-field appearance="none" class="w-100">
                          <mat-label class="elhoo_compte_labelInputPosition">Email</mat-label>
                          <input [formControl]="emailPersContactFormControl" autocomplete="off" matInput placeholder="Email" style="font-size: 12px; padding-left: 12px;">
                      </mat-form-field>
                  </form>
                </div>

                <div class="col input-group pl-0 pr-0">
                  <form class="w-100">
                      <mat-form-field appearance="none" class="w-100">
                          <mat-label class="elhoo_compte_labelInputPosition">Téléphone</mat-label>
                          <input [formControl]="numeroTelephoneFormControl" autocomplete="off" matInput placeholder="Téléphone" style="font-size: 12px; padding-left: 12px;">
                      </mat-form-field>
                  </form>
                </div>

                <div class="col input-group pl-0 pr-0">
                  <form class="w-100">
                      <mat-form-field appearance="none" class="w-100">
                          <mat-label class="elhoo_compte_labelInputPosition">Téléphone (2)</mat-label>
                          <input [formControl]="numeroTelephone2FormControl" autocomplete="off" matInput placeholder="Téléphone (2)" style="font-size: 12px; padding-left: 12px;">
                      </mat-form-field>
                  </form>
                </div>

                <div class="col-1 pl-0 pr-0">
                  <button type="reset" [disabled]="personnesDeContact.length >= maxContacts" (click)="onAddPersonneDeContact()" class="border-0 rounded-lg h-100 elhoo_addClient_button w-100">
                    <img class="rounded-lg h-50 w-50" src="../../../../assets/+.svg"/>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  <!-------------------------------Bouton de soumission du formulaire---------------------------------------->

    <div class="row d-flex justify-content-end" ariel-label="Validation de la création d'un client">
      <button type="submit" class="pl-5 pr-5 mb-5 mr-3 elhoo_addClient_submit" mat-raised-button>{{submitText}}</button>
    </div>
</form>

</div>
