.elhoo-list-header {
  background-color: #4f898f;
}

h4 {
  color: #F2F5FA;
}


/*.show_borders {
  border: 2px outset violet;
}*/

.elhoo_contactList_quick_actions {
  background-color: #ebeff2 !important;
}
