<app-nav>

</app-nav>

<app-dashbord-menu></app-dashbord-menu>



<div class="container-fluid elhoo_body_text_Contacts_divContent">

  <div class="row row-cols-5 mb-5">
    <div class="col">
      <app-contacts-title title="{{title}}"></app-contacts-title>
    </div>

    <div class="offset-7 col">
      <app-contacts-toolbar [isClients]="" ></app-contacts-toolbar>
    </div>
  </div>



  <div class="row">
    <div class="col-12">
      <app-repos-list></app-repos-list>
    </div>
  </div>
</div>
