.elhoo_body_title_textStyle {
  width: 256px;
  height: 41px;
  font-weight: normal;
  line-height: 41px;
  letter-spacing: 1.16667px;
  color: #D22254;
  font-size: 23px;
}

.elhoo_body_subtitle_textStyle {
  font-size: 13.6667px;
  letter-spacing: 0.166667px;
  margin-top: -17px;
}
